.footer {
  background-color: #595f6f;
  color: white;
  padding: 1em;
  font-size: 2em;
  text-align: center;
}

.footer__logo {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;

}
.footer__info {
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  a {
    color: #ffffff;
    text-decoration:none;
  }
}
.footer__social {
  font-size: 13px;
  text-align: center;
  color: #ccc;
}
