.footer {
  background-color: #595f6f;
  color: white;
  padding: 0.1em 0;
  font-size: 2em;
  text-align: center;
  height: 100px;
}

.footer__logo {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;

}
.footer__info {
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  a {
    color: #ffffff;
    text-decoration:none;
  }
}
.footer__social {
  font-size: 13px;
  text-align: center;
  color: #ccc;
}

.footer-nav {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  justify-content: space-around;
  a {
    color: lightgray;
  }
}
