
.programs__department-name {
  letter-spacing: normal;
	font-weight: 500;
	text-decoration: none;
	line-height: 1.13;
	text-transform: uppercase;
	color: #2e4a6a;
	width: 75%;
	margin: 0 auto;
	padding: 0 0 10px 0;
 font-size: 16px;
 text-align: left;
 border-bottom: 2px dashed #2e4a6a;
 display: flex;
 align-items: center;
}

.programs__icon {
	margin: 0 10px 0 0;
width: 36px;
height: 36px;
}
