
.programs__department-name {
	letter-spacing: normal;
	font-weight: 400;
	text-decoration: none;
	line-height: 1.13;
	text-transform: uppercase;
	color: #2e4a6a;
	opacity: 0.8;
	width: 75%;
	margin: 0 auto;
	padding: 0 0 10px 0;
	font-size: 16px;
	text-align: left;
	border-bottom: 2px dashed #2e4a6a;
	display: flex;
	align-items: center;
}
.chart-area {
	margin: 20px 0;
	padding: 10px 0;
}
.chart-area:after {
	position: absolute;
	content: '';
	right: 10%;
	left: 10%;
	width: 80%;
	border-bottom: 2px dashed #2e4a6a;
	opacity: 0.8;

}
.programs__icon {
	margin: 0 10px 0 0;
	width: 36px;
	height: 36px;
}

.program-list {
	padding: 0;
	margin: 0;
}

.button--add-programs {
	width: 200px;
	margin: 8px auto;
	color: #4a4a4a;
	border: none;
	outline: none;

}
.button--share {
	width: 200px;
	margin: 8px auto;
	color: #fff;
	height: 48px;
	border-radius: 10px;
	background-color: #4a90e2;

}
.select-program-area {
	display: flex;
	flex-direction: column;
}
