html, body {
	height: 100%;
}

body {
	background: #FFF;
	font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}

/*
  Buttons
*/

button,
.button {
	border: 2px solid #f2f2f2;
	background: none;
	display: inline-block;
	line-height: 2;
	text-decoration: none;
	padding: 5px;
	text-align: center;
	font-size: 15px;
	color: #00f;
	transition: all 0.2s;
	box-sizing: padding-box;
}

button:hover,
.button:hover,
button:focus,
.button:focus {
	border-color: #00f;
	outline: 0;
}
