<!DOCTYPE html>
<html>
  <head>
    <title>Budget Buddy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BudgetHack 2017 - frontend app</title>
    <link rel="shortcut icon" type="image/png" href="http://www.quiltyweb.com/favicon-32x32.png"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


      <div className="navBar">
        <nav className="wrapper">
          <div className="logo">
            <a href="/">
              <img src={ logo } alt="logo" />
            </a>
          </div>
          <div tabIndex="0" className="menu-accessibility">
            <span className="menu-accessibility__tonality">
              <a aria-label="tonality" href="/">
                <i aria-hidden="true" className="material-icons">tonality</i>
              </a>
            </span>
            <span
              aria-hidden="true"
              className="menu-accessibility__screen-reader">
              <a href="/">
                <i aria-hidden="true" className="material-icons">
                  accessibility
                </i>
              </a>
            </span>
            <span className="menu-accessibility__hamburger">
              <a aria-label="mobile-menu" href="/">
                <i aria-hidden="true" className="material-icons">
                  menu
                </i>
              </a>
            </span>
          </div>
        </nav>
      </div>


    <%= yield %>

    <footer className="footer" tabIndex="0">
      <span aria-label="budget hackathon 2017" className="footer__logo">
        BUDGETHACK 2017
      </span>
      <br />
      <span aria-hidden="true" tabIndex="-1" className="footer__info">
        Made with lot of ☕ by <a tabIndex="-1" href="https://github.com/cfranklin11/budget-hack-2017">The Hippo’s stripes</a>
      </span>
      <nav>
        <ul className="footer-nav" tabIndex="1">
          <li><a href="https://github.com/meligatt/budgethack2017_frontend">About</a></li>
          <li><a href="https://github.com/meligatt/budgethack2017_frontend">Github</a></li>
          <li><a href="https://github.com/meligatt/budgethack2017_frontend">Contact</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
